{% extends 'base.html' %}

{% load static %}

{% block body %}

<div class="detail mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src="{{product.productImg.url}}" id="main_product_image" width="350">
                    </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            <li><img onclick="changeImage(this)" src="{{product.productImg.url}}" width="70"></li>
                            <li><img onclick="changeImage(this)" src="{{product.productImg2.url}}" width="70"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fs-1 fw-bold">{{product.title}}</h3>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p class="fs-5">{{product.desc}}</p>
                    </div>
                    <h2 class="fw-bolder">₺{{product.productPrice}}</h2>
                    <div class="ratings d-flex flex-row align-items-center">
                        <div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i>
                        </div>
                    </div>
                    <div class="mt-5"> <span class="fw-bold fs-4">Özellikler</span>
                        <div class="features">
                            <p class="fs-1">{{product.features | linebreaks}}</p>
                        </div>
                    </div>
                    <div class="buttons d-flex flex-row mt-5 gap-3">
                      <form action="{% url 'addProduct' id=product.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-dark">Sepete Ekle</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="bg-dark">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-dark">
            <div class="card-body p-4">
              <h4 class="mb-0">Recent comments</h4>
              <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
  
              {% for i in comments %}
                
              
              <div class="d-flex flex-start mt-5">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                  height="60" />
                <div>
                  <h6 class="fw-bold mb-1">{{i.user.first_name}} {{i.user.last_name}}</h6>
                  <div class="d-flex align-items-center mb-3">
                    <p class="mb-0">
                      {{i.commentTime}}
                    </p>
                  </div>
                  <p class="mb-0">
                    {{i.productComment}}
                  </p>
                </div>
              </div>

              {% endfor %}
            </div>
  
            <hr class="my-0" />
  
            <div class="col-md-12 card-footer border-0 mt-5 ps-5 pe-5" style="background-color: #f8f9fa;">
              <form action="" method="POST">
                {% csrf_token %}
              <div class="d-flex flex-start w-100">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                  height="40" />
                <div class="form-outline w-100">
                  <input type="text" class="form-control" id="textAreaExample" style="background: #fff;" name="comment">
                  <label class="form-label" for="textAreaExample">Message</label>
                </div>
              </div>
              <div class="float-end mt-2 pt-1 pb-1 mb-5">
                <button type="submit" class="btn btn-dark btn-sm">Post comment</button>
                <button type="button" class="btn btn-outline-dark btn-sm">Cancel</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

   
  </section>


  

  

{% endblock body %}